{% extends "products/base-basic.html" %} 

		{% block css %}
		{{ block.super }}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/theme-shop.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/theme-blog.css" />
		{% endblock css %}

			{% block content %}
			<div role="main" class="main shop">

				<div class="container">

					<div class="row">
						<div class="col-md-12">

							<div class="row featured-boxes">

								<div class="col-md-6">
									<div class="featured-box default">
										<div class="box-content">
											<h4>Reset Password</h4>

											<form action="" method="post">{% csrf_token %}

									    	{% for field in form %}

												<div class="row">
													<div class="form-group">
														<div class="col-md-12">

															{% if field.errors %}
										            {{ field.errors }}
									            {% endif %}

										          <label for="{{ field.id_for_label }}" id="{{ field.id_for_label }}">
										          	{{ field.label }}:</label>
															<input id="{{ field.id_for_label }}" name="{{ field.name }}" type="{{ field.type }}" class="form-control">

															</div>
														</div>
													</div>

									    	{% endfor %}

												<div class="row">
													<div class="col-md-12">
														<input type="submit" name="submit" value="Submit" class="btn btn-primary pull-right push-bottom">
													</div>
												</div>

											</form>

										</div>
									</div>
								</div>

						</div>
					</div><!-- end Row 1 -->

				</div>
				
			</div>
		</div>
			{% endblock content %}