{% extends "products/base.html" %}

{% block content %}
<!-- Slider -->

<h3>Features</h3>

<p>Flapsta is a great combination of skin and case. We offer a new level of protection while allowing you to add personal style to your device. Flapsta solves several key issues device owners face trying to protect and personalize what is for most of them more than just a mobile electronics gadget—it is a fashion accessory and an extension of their own personal sense of style.</p>

<br>

<p><strong>“high-cushioned”, “easy to remove and replace”, and “sticks to smooth surface”</strong></p>

<br>

<p>Flapsta creates a raised surface so when your device is placed face down the screen will be protected.</p>

<br>

<p>The special adhesive keeps them securely in place but, when you are ready to change your design they can be removed without leaving any residue or damaging your device.</p>

<br>

<p>The unique material 'sticks' to most smooth surfaces such as mirror, refrigerators, and glass.</p>


{% endblock content %}