{% extends "products/base.html" %}

{% block content %}
<!-- Slider -->

<h3>How to apply Flapsta</h3>


<p>Before beginning application, be sure to clean the entire surface of the device with a 100% cotton cloth to remove dust, debris and oily residue.</p>

<ul>
	<li>Step 1</li>
	<p>Start by wearing the Flapsta case gently.</p>

	<li>Step 2</li>
	<p>Line up the bottom of Flapsta front skin with the bottom of the device using both hands. Make sure it is lined up prior to pressing firmly.</p>

	<li>Step 3</li>
	<p>Move slowly along the sides of the device gently lining up Flapsta front skin with the intended coverage surface areas.</p>

	<li>Step 4</li>
	<p>Line up the remaining top portion with the surface areas of the device.</p>

	<li>Step 5</li>
	<p>Check to see if there are any areas that are not lined up correctly, then gently peal up Flapsta in those areas and realign. When you are satisfied with the position of Flapsta, press firmly on the entire surface to ensure proper adhesion. </p>
</ul>

<br>

<h3>How to remove Flapsta</h3>

<ul>
	<li>Step 1</li>
	<p>Start by pealing up the edge at one corner of Flapsta.</p>

	<li>Step 2</li>
	<p>Slowly begin lifting Flapsta away from the device traveling down the length of the device. Continually reposition your fingers to remain close to the device as to not tear or stretch the thin areas of Flapsta.</p>

	<li>Step 3</li>
	<p>When you reach the opposite end of the device, pull Flapsta completely off of the device. Repeat this process with the opposite sides and remaining Flapsta pieces. If you are planning on reusing Flapsta, be sure to not over handle the adhesive areas. Flapsta can lose its adhesive properties if there is too much oily skin residue and/or debris introduced. If you are planning on storing Flapsta, be sure to re-apply all pieces to the wax paper backing provided with original packaging or household wax paper. </p>
</ul>




{% endblock content %}