{% extends "products/base.html" %}

{% block content %}

{% if products %}
	<h3>Products</h3>
	<ul>
	{% for product in products.object_list %}
		<li><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>Sorry, there are no products</p>
{% endif %}

<!-- Paginator -->
<ul>
	{% if products.has_previous %}
		<li><a href="?page={{ products.previous_page_number }}">Previous</a></li>
	{% endif %}
	{% for pg in products.paginator.page_range %}
		{% if products.number == pg %}
			<li><a href="?page={{ pg }}"><strong>{{ pg }}</strong></a></li>
		{% else %}
			<li><a href="?page={{ pg }}">{{ pg }}</a></li>
		{% endif %}
	{% endfor %}
	{% if products.has_next %}
		<li><a href="?page={{ products.next_page_number }}">Next</a></li>
	{% endif %}
</ul>


{% endblock content %}